<!DOCTYPE html>
<html>

<head>
  <base href="/" />
  <title>Apexon Video Analytics Platform</title>
  <link rel="icon" type="image/x-icon" href="static/img/VizSense.svg">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1"> -->
  <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@300;400;500;700;900&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Oswald:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/css/styles.css">

<link rel="stylesheet" href="styles.css">
<!-- {% load static %}   -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
  <app>Loading...</app>
  <!-- {% static 'js/runtime.js' %} -->
  <input type="hidden" name="csrf_token" id="csrf_token" value="" />
<!-- {% load static %}  
<script type="text/javascript" src="{% static '/js/runtime.js' %}"></script>
<script type="text/javascript" src="{% static '/js/polyfills.js' %}"></script>     
<script type="text/javascript" src="{% static '/js/scripts.js' %}"></script>     
<script type="text/javascript" src="{% static '/js/main.js' %}"></script>  -->

<script type="text/javascript" src="/static/js/runtime.js"></script>   
<script type="text/javascript" src="/static/js/polyfills.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>

</html>


